.clients-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;

    //desktop
    @include desk {
        flex-wrap: nowrap;
        margin-top: 50px;
    }
}

.clients-list__item {
    flex-basis: calc((100% - 30px) / 2);

    width: 210px;
    height: 92px;

    &:not(:nth-child(-n + 2)) {
        margin-top: 30px;
    }

    &:nth-child(even) {
        margin-left: 30px;
    }

    // tablet
    @include tab {
        width: 226px;
        height: 92px;

        flex-basis: calc((100% - 2 * 30px) / 3);

        &:nth-child(-n + 3) {
            margin-top: 0;
        }

        &:nth-last-child(-n + 3) {
            margin-top: 30px;
        }

        &:nth-child(3n + 1) {
            margin-left: 0;
        }

        &:not(:nth-child(3n + 1)) {
            margin-left: 30px;
        }
    }

    // desktop
    @include desk {
        width: 170px;
        height: 92px;

        flex-basis: calc((100% - 5 * 30px) / 6);

        &:nth-child(n) {
            margin-top: 0;
        }

        & + & {
            margin-left: 30px;
        }
    }
}

.clients-list__link {
    @include flexAlign();

    width: 100%;
    height: 100%;

    color: var(--icon-color);
    background-color: transparent;

    border: 1px solid var(--icon-color);
    border-radius: 4px;

    @include funcTransition2Param(color, border-color);

    &:hover,
    &:focus {
        color: var(--accent-color);
        border-color: var(--accent-color);
    }
}

.clients-list__icon {
    color: inherit;
    fill: currentColor;
    @include funcTransition(fill);
}
