.clients-list {
    //mobile & tablet
    @include tab {
        display: flex;
        margin-top: 30px;
    }

    //desktop
    @include desk {
        margin-top: 50px;
    }
}

.clients-list__item {
    width: 170px;
    height: 92px;

    & + & {
        margin-left: 30px;
    }
}

.clients-list__link {
    @include flexAlign();

    width: 100%;
    height: 100%;

    color: var(--icon-color);
    background-color: transparent;

    border: 1px solid var(--icon-color);
    border-radius: 4px;

    @include funcTransition2Param(color, border-color);

    &:hover,
    &:focus {
        color: var(--accent-color);
        border-color: var(--accent-color);
    }
}

.clients-list__icon {
    color: inherit;
    fill: currentColor;
    @include funcTransition(fill);
}
