.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--background-dark-box-color);
}

.footer__container,
.address-join__container {
    // mobile
    text-align: center;

    // desktop
    @include desk {
        @include flexAlign(flex, baseline, null);
        text-align: left;
    }
}

.address-join__container {
    // tablet
    @include tab {
        @include flexAlign(flex, baseline, null);
        justify-content: space-around;
    }

    // desktop
    @include desk {
        // @include flexAlign(flex, baseline, null);
        // flex-wrap: nowrap;
        justify-content: flex-start;
    }
}

// Адрес

.footer__address {
    margin-top: 20px;

    @include setFont(14px, 1.71, null, 0.03em);
    font-style: normal;
}

.address-list__item {
    // mobile & tablet
    & + & {
        margin-top: 8px;
    }

    // desktop
    @include desk {
    & + & {
        margin-top: 9px;
    }
}

}

.address--light,
.address--dark {
    @include funcTransition(color);
}

.address--light,
.address--dark:hover,
.address--dark:focus {
    color: #ffffff;
}

.address--dark,
.address--light:hover,
.address--light:focus {
    color: rgba(255, 255, 255, 0.6);
}

// Блок "Приоединяйтесь"

.footer-join {
    margin-top: 60px;

    // tablet
    @include tab {
        margin-top: 0;
    }

    // desktop
    @include desk {
        margin-left: 70px;
    }
}

.footer-join__social-list {
    margin-top: 20px;
}
.footer-join__text {
    @include setFont(14px, 1.14, 700, 0.03em);
    text-transform: uppercase;
    color: #ffffff;
}

/* -- Блок подписки на рассылку  */

.footer-subscription {
    // mobile & tablet
    margin-top: 60px;

    //desktop
    @include desk {
        margin-top: 0;
        margin-left: auto;
    }
}

.footer-subscription__text {
    @include setFont(14px, 1.14, 700, 0.03em);
    text-transform: uppercase;
    color: #ffffff;
}

// Форма подпискм

.footer-form {
    margin-top: 20px;

    // desktop
    // display: flex;
}

.footer-form__name {
    // mobile
    width: 100%;

    // tablet
    @include tab {
        width: 448px;
    }

    // desktop
    @include desk {
        width: 358px;
    }

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    padding-right: 16px;

    @include setFont(16px, 1.25, null, 0.03em);
    color: rgba(255, 255, 255, 0.6);

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
}

.footer-form__name:focus-within {
    border-color: rgba(255, 255, 255, 0.6);
    outline: none;
}
.footer-form__btn {
    @include flexAlign(flex, center, center);

    // mobile & tablet
    margin-top: 20px;
    padding: 10px 28px;

    // tablet
    margin-left: auto;
    margin-right: auto;

    // desktop
    @include desk {
        @include flexAlign(inline-flex, null, null);
        margin-top: 0;
        margin-left: 12px;
        margin-right: 0;
    }
}

.icon-send {
    margin-left: 10px;
    fill: #ffffff;
}
