.header {
    border-bottom: 1px solid #ececec;
}

.header__wrap {
    @include flexAlign(flex, center, null);
}

.navigation {
    @include flexAlign(flex, center, null);
}

// nav-list

.nav-list {
    display: flex;
    margin-left: 93px;
}

.nav-list__item {
    & + & {
        margin-left: 50px;
    }
}

.nav-list__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    @include setFont(14px, 1.2, 500, 0.02em);
    color: var(--text-dark-color);

    @include funcTransition(color);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.nav-list__link--current {
    position: relative;
    color: var(--accent-color);

    &::after {
        content: '';

        position: absolute;
        left: 0;
        bottom: -1px;

        width: 100%;
        height: 4px;

        border-radius: 2px;
        background-color: var(--accent-color);
    }
}

// links

.header-links {
    display: flex;
    margin-left: auto;
}

.header-links__item {
    & + & {
        margin-left: 30px;
    }
}

.header-links__link {
    @include flexAlign(flex, center, null);

    padding-top: 32px;
    padding-bottom: 32px;

    @include setFont(14px, 1.2, 500, 0.02em);
    color: var(--text-light-color);

    @include funcTransition(color);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.header-links__icon {
    margin-right: 10px;
    fill: currentColor;
}
