.header {
    position: relative;
    border-bottom: 1px solid #ececec;
}

.header__wrap {
    position: relative;
    @include flexAlign(flex, center, null);
}

// menu

.menu-container {
    @media screen and (max-width: $tablet) {
        display: none;

        &.is-open {
            position: fixed;
            top: 0;
            left: 0;

            width: 100vw;
            height: 100vh;

            display: flex;
            flex-direction: column;

            padding-top: 48px;
            padding-bottom: 48px;
            padding-left: 40px;
            padding-right: 40px;

            background-color: #fff;
            z-index: 1;
        }
    }

    @include tab {
        margin-left: 93px;
        @include flexAlign(flex, center, null);
        flex-grow: 1;
    }
}

.navigation {
    // @include flexAlign(flex, center, null);
}

// button

.menu-button {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: 0;

    padding: 10px 0;
    border: none;
    background-color: transparent;
    fill: var(--text-dark-color);
    cursor: pointer;
    z-index: 2;

    & .icon-close {
        display: none;
    }

    &.is-open .icon-close {
        display: block;
    }

    &.is-open .icon-menu {
        display: none;
    }

    &:hover,
    &:focus {
        fill: var(--accent-color);
    }

    @include tab {
        display: none;
    }
}

// nav-list

.nav-list {
    @include tab {
        display: flex;
    }
}

.nav-list__item {
    & + & {
        margin-top: 32px;
    }
    @include tab {
        & + & {
            margin-top: 0;
            margin-left: 50px;
        }
    }
}

.nav-list__link {
    display: block;

    @include setFont(40px, 1.17, 500, 0.02em);
    color: var(--text-dark-color);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    @include tab {
        padding-top: 32px;
        padding-bottom: 32px;

        @include setFont(14px, 1.2, 500, 0.02em);

        @include funcTransition(color);
    }
}

.nav-list__link--current {
    color: var(--accent-color);

    @include tab {
        position: relative;

        &::after {
            content: '';

            position: absolute;
            left: 0;
            bottom: -1px;

            width: 100%;
            height: 4px;

            border-radius: 2px;
            background-color: var(--accent-color);
        }
    }
}

// links

.header-links {
    margin-top: auto;
    display: flex;
    flex-direction: column-reverse;

    @include tab {
        display: block;
        margin-top: 0;
        margin-left: auto;
    }

    @include desk {
        display: flex;
        flex-direction: row;
    }
}

.header-links__item {
    &:not(:last-child) {
        margin-top: 30px;
    }

    @include tab {
        &:not(:last-child) {
            margin-top: 0;
        }

        & + & {
            margin-top: 10px;
        }
    }
    @include desk {
        & + & {
            margin-top: 0;
            margin-left: 30px;
        }
    }
}

.header-links__link {
    display: block;
    @include setFont(24px, 1.17, 500, 0.02em);
    color: var(--text-light-color);

    @include funcTransition(color);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    @include tab {
        @include flexAlign(flex, center, null);

        @include setFont(14px, 1.2, 500, 0.02em);
    }

    @include desk {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

.header-links__link--phone {
    @include max-display($tablet - 1px) {
        @include setFont(34px, 1.17, 500, 0.02em);
    }
}

.header-links__icon {
    display: none;

    @include tab {
        margin-right: 10px;
        fill: currentColor;
    }
}

.header-social {
    margin-top: -20px + 66px;
    display: flex;
    flex-wrap: wrap;

    @include tab {
        display: none;
    }
}

.header-social__item {
    position: relative;

    margin-top: 20px;

    &:not(:last-child) {
        margin-right: 20px;

        &::after {
            content: '';

            position: absolute;
            top: 0;
            right: calc(-10px);

            width: 1px;
            height: 100%;

            background-color: rgba(33, 33, 33, 0.2);
        }
    }
}

.header-social__link {
    @include setFont(18px, 1.22, 500, 0.02em);
    color: var(--accent-color);
}
