.team-list {
    //mobile
    margin-top: 30px;

    //tablet
    @include tab {
        display: flex;
    }

    //desktop
    @include desk {
        margin-top: 50px;
    }
}

.team-list__item {
    background: #ffffff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    /* material shadow v1 */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);

    //mobile
    &:not(:first-child) {
        margin-top: 30px;
    }

    //tablet & desktop
    @include tab {
        & + & {
            margin-left: 30px;
        }
    }
}

// Обертка для подписи под картинкой и соц.ссылок
.team-list__wrap {
    padding-top: 30px;
    padding-bottom: 24px;

    //desktop
    @include desk {
        padding-bottom: 30px;
    }

    text-align: center;
}

.team-list__title {
    @include setFont(16px, 1.2, 500, 0.03em);
    color: var(--text-dark-color);
}

.team-list__text {
    margin-top: 10px;

    @include setFont(16px, 1.2, null, 0.03em);
    color: var(--text-light-color);
}
