.container {
    margin-left: auto;
    margin-right: auto;

    padding-left: 15px;
    padding-right: 15px;

    // mobile
    @include tel {
        width: $mobile;
    }

    // tablet
    @include tab {
        width: $tablet;
    }

    // desktop
    @include desk {
        width: $desktop;
    }
}
