:root {
    --accent-color: #2196f3;
    --text-dark-color: #212121;
    --text-light-color: #757575;
    --background-dark-box-color: #2f303a;
    --background-light-gray-color: #f5f4fa;
    --icon-color: #afb1b8;
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --transition-time: 250ms;
    --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}
